@use 'contactsvg';
$primary-color: #00ccff;
$primary-color-h: 192;
$primary-color-s: 100%;
$primary-color-l: 50%;
$secondary-color: #0694B8;
$highlight-color: hsl(243, 100%, 69%);
$highlight-color-darken: hsl(243, 90%, 60%);

$title-font-size: 3rem;
$card-amount-under: 3;
$card-amount-over: 3;


.main-contact{
    // overflow: auto;
    max-width: 100%;
    scroll-margin-top: 100px;
    box-sizing: border-box;
    background-color: $secondary-color;
    display: flex;
    padding: 3rem 3rem 1rem 3rem;
    justify-content: space-around;
    color: white;
    font-size: large;
    main{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .contact-info{
            display: flex;
            flex-direction: column;
            .phone, .mail{
                display: flex;
                align-items: center;
                gap: 0.5em;
                width: max-content;
                &:hover, &.active{
                    color: $highlight-color-darken;
                    font-weight: bold; 
                    font-size: 1.05em;
                }
                &.active{
                    transition: transform 3s, scale 3s;
                    transform: translateX(100px) scale(1.2);
                }

            }
            .phone::before{
                content: '';
                align-content: center;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../assets/images/phone.svg');
                height: 2em;
                width: 2em;
            }
            .mail::before{
                content: '';
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../assets/images/email.svg');
                height: 2em;
                width: 2em;
            }
        }

    }
    main .title{
        display: block;
        font-size: $title-font-size;
        font-weight: normal;
        width: 100%;
    }
    .title{
        display: none;
    }
    .personal-links{
        display: flex;
        height: 5em;
        align-items: flex-end;
        svg{
            height: 3em;
            width: auto;
            transition: height 100ms;
            // fill: white;
        }
        svg:hover{
            height: 4em;
            animation: 500ms jumping cubic-bezier(0, 1.01, 0.98, 0.99) infinite alternate,
            250ms colorfill forwards;
        }
    }
    #contact-svg{
        svg{
            transform: scale(0.8);
            g#dots{
                display: none;
            }
        }
    }
}

@keyframes jumping{
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-20px);
    }
}
@keyframes colorfill{
    to{
        fill: $highlight-color-darken;
        // border: 5px solid black;
        // border-radius: 50%;
    }
}

@media (max-width: 1000px) {
    .main-contact{
        scroll-margin-top:0px;
        padding: 3rem 1rem 3rem 1rem;
        justify-content: space-between;
        .title{
            display: none;
            width: 100%;

        }
        main>.title{
            display: block;
        }
        #contact-svg{
            display: flex;
            width: 500px;
            height: min-content;
            align-self: center;
            svg{
                width: 500px;
                height: min-content;
                #phone-notification{
                    width: 250px;
                    max-width: max-content;
                    height: max-content;
                }
            }
        }
    }
    .main-contact{
        main{
            .contact-info{
                .phone, .mail{
                    &.active{
                        transform: translateX(0) scale(1.05);
                    }
                }
            }
            .personal-links{
                margin:0;
            }
        }
    }
}
@media (max-width: 700px) {
    .main-contact{
        scroll-margin-top:0px;
        padding: 3rem 1rem 3rem 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        .title{
            display: none;
            width: 100%;

        }
        main>.title{
            display: block;
        }
        #contact-svg{
            display: flex;
            width: 50%;
            height: min-content;
            align-self: center;
            svg{
                width: 400px;
                height: min-content;
                #phone-notification{
                    width: 400px;
                    max-width: max-content;
                    height: max-content;
                }
            }
        }
    }
    .main-contact{
        main{
            width: 50%;
            .contact-info{
                .phone, .mail{
                    &.active{
                        transform: translateX(0) scale(1.05);
                    }
                }
            }
            .personal-links{
                margin:0;
            }
        }
    }
}
@media (max-width: 500px) {
    .main-contact{
        scroll-margin-top:0px;
        flex-direction: column;
        padding: 3rem 1rem 3rem 1rem;
        justify-content: space-between;
        .title{
            display: block;
            width: 100%;
            text-align: center;
            order: 1;
        }
        main>.title{
            display: none;
        }
        #contact-svg{
            order: 2;
            display: flex;
            width: 250px;
            height: min-content;
            align-self: center;
            svg{
                width: 250px;
                height: min-content;
                #phone-notification{
                    width: 250px;
                    max-width: max-content;
                    height: max-content;
                }
            }
        }
    }
    .main-contact{
        main{
            order: 3;
            gap: 0.5rem;
            .contact-info{
                .phone, .mail{
                    &.active{
                        transform: translateX(0) scale(1);
                    }
                }
            }
            .personal-links{
                margin:0;
            }
        }
    }
}