// $primary-color: #088eaf;
// $primary-color-h: 192;
// $primary-color-s: 91%;
// $primary-color-l: 36%;

$primary-color: #00ccff;
$primary-color-h: 192;
$primary-color-s: 100%;
$primary-color-l: 50%;
$secondary-color: #0694B8;
$highlight-color: #6C63FF;

$title-font-size: 3rem;
$card-amount-under: 3;
$card-amount-over: 3;


.main-work-container{
    background-image: url('../assets/images/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    padding: 0 0 2rem 0;
    .custom-shape-divider-top-1659907162 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        svg{
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 175px;
            transform: rotateY(180deg);
            .shape-fill{
                fill: white;
            }
        }
        
    }

    &>.title{
        scroll-margin-top: 150px;
        padding: 0 5rem 0 5rem;
        font-size: $title-font-size;
        font-weight: normal;
        // font-style: italic;
        font-family: 'Playfair Display', sans-serif;
    }

    #project-container{
        display: grid;
        padding: 0 5rem 0 5rem;

        // creates a grid layout with a maximum of 3 columns and a minimum grid item width
        --grid-layout-gap: 3rem;
        --grid-column-count: 3;
        --grid-item--min-width: 350px;
        --gap-count: calc(var(--grid-column-count) - 1);
        --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
        --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

        grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
        grid-gap: var(--grid-layout-gap);

        // Gives every image a background-color that fit's the palette in case not loaded
        @for $i from 0 to $card-amount-under {
            .project.card:nth-child(#{$i + 1})>img{
                background-color: hsl( calc($primary-color-h - (20 * $i)) , $primary-color-s, $primary-color-l);
            }
        }
        @for $i from calc($card-amount-under) to calc($card-amount-under + $card-amount-over) {
            .project.card:nth-child(#{$i + 1})>img{
                background-color: hsl( calc($primary-color-h + (20 * $i)) , $primary-color-s, $primary-color-l);
            }
        }
    }

    // .project.card:hover{
    //     transform: scale(1.1);
    //     z-index: 3;
    // }
    .project.card{
        display: grid;
        overflow: auto;
        // aspect-ratio: 1/1.1;
        
        grid-template-rows: 1fr 1fr;
        background-color: white;
        box-shadow: 2px 2px 20px gray;
        border-radius: 10px;
        overflow: hidden;
        transition: 1s transform;
    
        &.bottomEnter{
            animation: 1s enterBottom ease 1 reverse;
        }

        img.project-screenshot{
            box-sizing: border-box;
            height: auto;
            width: 100%;
            // aspect-ratio: 16/9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            font-weight: bold;
            // padding: 1rem;
        }

        .text-content{
            padding: 0 1.5rem 0 1.5rem;
            // display: grid;
            // grid-template-rows: 1fr 4fr;
            display: flex;
            flex-direction: column;
        }

        .main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5em;
            margin: 0.5rem 0 0.5rem 0;
            
            .title, p{
                margin: 0;
            }
            .title{
                font-family: 'Playfair Display', sans-serif;
            }

            .link-container{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 1rem;
                svg{
                    height: 1.25em;
                    transition: 500ms fill;
                }
                svg:hover{
                    transform: scale(1.1);
                    fill: $highlight-color;
                }
                img{
                    height: 1.25em;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }
        }

    }
}


@keyframes enterBottom{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(50px);
        opacity: 0;
    }
}

@media screen and (max-width: 350px){
    #project-container{
        --grid-item--min-width: 320px;
    }
    .main-work-container{
        padding: 0 0 0 0;
    }
}